.App-header {
  background-color: #fff;
  min-height: auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 20px 0;
  text-align: center;
}
input.filter-input {
  width: 100%;
    height: 55px;
    padding: 10px 8px 10px 35px;
    font-family: Helvetica, sans-serif;
    background: #f1f1f1;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
}
.search-div {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  max-height: 243px;
    overflow: hidden;
    overflow-y: scroll;
}
h6{
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}
.serch_box {
  position: relative;
}
.search-section {
  padding: 10px 10px;
  border-bottom: 1px solid #ccc;
  text-align: left;
}
.search-section:hover {
  background-color: #fdf8cb;
}
h6.user_i {
  font-weight: 600;
}
.input-section .glass {
  position: absolute;
  top: 17px;
  left: 13px;
  font-size: 14px;
}
.input-section .close {
  position: absolute;
  top: 17px;
  right: 13px;
  font-size: 14px;
  cursor: pointer;
}
.input-section {
  position: relative;
}
.serch_section {
  max-width: 400px;
  width: 100%;
  margin: auto;
  position: relative;
}
.no-result-found {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  position: relative;
  width: 100%;
  top: 100%;
  padding: 30px 0;
}
/* input.filter-input:focus {
  box-shadow: 0px 0px 11px 7px rgb(0 0 0 / 9%), 0 1px 1px rgba(0,0,0,0.23);
  outline: 0;
  border: 0;
} */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
  cursor: pointer;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
  cursor: pointer;
}
.add_new_user {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 100%;
  top: 100%;
  max-width: 350px;
  margin: auto;
  padding: 30px;
  float: left;
  overflow: hidden;
}

.add_new_user {
  position: relative;
}
.add_new_user div .input-group input {
  width: 90%;
  height: 36px;
  padding: 5px 8px 5px 14px;
  font-family: Helvetica, sans-serif;
  background: #ffffff;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.add_new_user div .input-group select {
  width: 96%;
  height: 48px;
  padding: 10px 8px 10px 14px;
  font-family: Helvetica, sans-serif;
  background: #ffffff;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}
.add_new_user div h3 {
  text-align: center;
  margin-top: 0;
}
.add_new_user div .input-group label {
  margin-bottom: 7px;
  display: block;
  font-size: 13px;
  font-weight: 500;
}
.add_new_user div .input-group button {
  float: right;
  background: red;
  color: #fff;
  border: 0;
  padding: 10px 21px;
  display: block;
  margin-right: 14px;
  border-radius: 5px;
  margin-top: 10px;
}.input-group.item-list button {
  position: absolute;
  top: 28%;
  right: 4px;
}

.input-group.item-list {
  position: relative;
}
.search-section_new {
  float: right;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  width: 100%;
  top: 100%;
  max-width: 350px;
  margin: auto;
  padding: 30px;
  overflow: hidden;
}
#root {
  overflow: hidden;
  padding: 50px;
}
.add_new_user div .input-group button:focus {
  background: green;
  border-color: green;
  outline: 0;
}
strong {
  background: red;
  color: white;
  font-weight: inherit;
}
h6.item_list {
  border-top: 1px solid #ccc;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
}